body{
	width: 80%;
	max-width: 700px;
	margin: 20px auto;
	border: 20px #bdc3c7 solid;
	padding: 20px;
	font-family: source sans pro;
	background-color: 
}
.date{
	text-transform: uppercase;
	letter-spacing: 2px;
	color: #3498db;
	font-weight: 700;
}
.entry{
	margin-bottom: 20px;
}
p:nth-of-type(2){
	padding-left: 7px;
	border-left: 5px #bdc3c7 solid;
}
h2{
	font-weight: 800;
	color: #2c3e50;
}

hr{
    border: 0;
    height: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    
}
